<html>
    <head>
        <title> Joseph Misiti </title>
        <style>
            body {
                background-color:#5a5353;
                margin-left:20%;
                margin-right:20%;
                margin-top:5%;
            }
            p {
                color: white;
                font-size:17px;
            }
            p.sentence {
                margin-top:-1%;
            }
            a {
                color: #00abff;
                text-decoration: none;
            }
        </style>
        
    </head>
    <body>
       <p class="main-container">
            <p class="sentence"> hi, my name is joe.</p>
            <p class="sentence"> i am the co-founder and CTO of <a href="http://www.mathandpencil.com/">math & pencil</a></p>
            <p class="sentence"> i am a full-stack software engineer + data scientist living in the <a href="https://en.wikipedia.org/wiki/Lower_East_Side">lower east side ,nyc</a></p>
            <p class="sentence"> i specialize in <a href="https://en.wikipedia.org/wiki/Machine_learning">machine learning</a></p>
            <p class="sentence"> my current interests are the following
                <a href="https://en.wikipedia.org/wiki/Machine_learning">machine learning</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">distributed computing</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">bayesian inference</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">data mining</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">computer vision</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">guitar</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">piano</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">django</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">golang</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">hadoop</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">spark</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">asynchronous-io</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">wavelets</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">signal processing</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">harmonic</a>,
                <a href="https://en.wikipedia.org/wiki/Machine_learning">history</a>,
            </p>
            <p class="sentence"> i keep track of what i am reading <a href="https://delicious.com/josephmisiti">here</a></p>
            <p class="sentence"> i keep a technical blog <a href="http://josephmisiti.github.io">here</a></p>
            <p class="sentence"> i write about web development <a href="http://www.medium.com/josephmisiti">here</a></p>
            <p class="sentence"> you can find my on github here <a href="http://www.github.com/josephmisiti">here</a></p>
            <p class="sentence"> you can find my on twitter <a href="http://www.github.com/josephmisiti">here</a></p>
                
            <p class="sentence"> i do not use facebook</p>
            
       </p>
    </body>
</html>