<html>
    <head>
        <title> Joseph Misiti </title>
        <style>
            body {
                background-color:#1c2531;
                margin-left:20%;
                margin-right:20%;
                margin-top:5%;
                font-family: 'Avenir Next';
                font-weight: normal;
            }
            p {
                color: white;
                font-size:30px;
            }
            p.sentence {
                margin-top:-1%;
            }
            a {
                color: #FF00AA;
                text-decoration: none;
                font-weight: normal;
            }
        </style>
        
    </head>
    <body>
       <p class="main-container">
            <p class="sentence"> hi, my name is joe.</p>
            <p class="sentence"> i'm the co-founder and CTO of <a href="http://www.mathandpencil.com/">math & pencil</a></p>
            <p class="sentence"> i'm a full-stack software engineer + data scientist living in the <a href="https://en.wikipedia.org/wiki/Lower_East_Side">lower east side ,nyc</a></p>
            <p class="sentence"> i specialize in <a href="https://en.wikipedia.org/wiki/Machine_learning">machine learning</a></p>
            <p class="sentence"> my current interests are the following
                <a href="https://en.wikipedia.org/wiki/Distributed_computing">distributed computing</a>,
                <a href="https://en.wikipedia.org/wiki/Bayesian_inference">bayesian inference</a>,
                <a href="https://en.wikipedia.org/wiki/Data_mining">data mining</a>,
                <a href="https://en.wikipedia.org/wiki/Computer_vision">computer vision</a>,
                <a href="https://en.wikipedia.org/wiki/C._F._Martin_%26_Company">guitar</a>,
                <a href="https://en.wikipedia.org/wiki/Piano">piano</a>,
                <a href="https://en.wikipedia.org/wiki/Django_(web_framework)">django</a>,
                <a href="https://en.wikipedia.org/wiki/Go_(programming_language)">golang</a>,
                <a href="https://en.wikipedia.org/wiki/Apache_Hadoop">hadoop</a>,
                <a href="https://en.wikipedia.org/wiki/Apache_Spark">spark</a>,
                <a href="https://en.wikipedia.org/wiki/Asynchronous_I/O">asynchronous-io</a>,
                <a href="https://en.wikipedia.org/wiki/Wavelets">wavelets</a>,
                <a href="https://en.wikipedia.org/wiki/Signal_Processing">signal processing</a>,
                <a href="https://en.wikipedia.org/wiki/Harmonica">harmonica</a>,
                <a href="https://en.wikipedia.org/wiki/History">history</a>,
                <a href="https://en.wikipedia.org/wiki/React_(JavaScript_library)">react.js</a>,
                <a href="https://github.com/josephmisiti/reading/tree/master/books/">books</a>,
                <a href="#">traveling</a>,
                <a href="#">restaurants</a>,
                <a href="#">cooking</a>,
                <a href="#">alcohol</a>,
                <a href="#">running</a>,
                <a href="https://en.wikipedia.org/wiki/Montepulciano_d%27Abruzzo">red wine(montepulciano)</a>,
                <a href="http://www.altavistawines.com/">white wine (torrontes)</a>,
                <a href="http://casamigostequila.com/">casamigos blanco</a>,
            </p>
            <p class="sentence"> i keep track of what i'm reading <a href="https://delicious.com/josephmisiti">here</a></p>
            <p class="sentence"> i keep a technical blog <a href="http://josephmisiti.github.io">here</a></p>
            <p class="sentence"> i write about web development <a href="https://medium.com/@josephmisiti">here</a></p>
            <p class="sentence"> you can find my on github here <a href="http://www.github.com/josephmisiti">here</a></p>
            <p class="sentence"> you can find my on twitter <a href="http://www.twitter.com/josephmisiti">here</a></p>
            <p class="sentence"> i love to read, <a href="https://github.com/josephmisiti/reading/tree/master/books/2015">here</a> is a list what i read this year </p>
            <p class="sentence"> i do not use facebook</p>
            </br>
            
            <p class="sentence"> if you need any data help, ios help, backend help, or have a good book recommendation, please contact me at <a href="#">joseph dot misiti at mathandpencil dot com </a></p>
            
       </p>
    </body>
</html>